<h4> <%= @Title %> </h4>

<%= form_for :post , url: home_path do |f| %>
    
<div class="control-group">

      <% @categories.each do |cat| %>
        <div class="well btn-info">

        
            <h5> <%= link_to cat.category, product_path(cat.category) %></h5>
            
            
            </div>
        <% end %>

</div>




    <% end %>