<h3 class="display-3"> <%= @Title %> </h3>

<%= form_for :post , url: home_path do |f| %>
    
<div class="control-group">
      <% @categories.each do |cat| %>
        <div class="well">

        
            <h2> <%= link_to cat.category, product_path(cat.category) %></h2>
            
            
            </div>
        <% end %>

</div>




    <% end %>